@model IEnumerable<NuevoContratoVM>
@using ContratosToyyoda.Data;


@{
    ViewData["Title"] = "Crear Multiples Contratos";

}


<div class="row" style="color: white;">
    <div class="col-md-8 offset-md-2">
        <div class="cargarAchivo d-flex justify-content-between">
            <form asp-action="Multiple" enctype="multipart/form-data" method="post">
                <div class="form-group">
                    <label for="fileInput">Seleccionar archivo CSV:</label>
                    <input type="file" id="fileInput" name="fileInput" class="form-control-file" accept=".csv">
                </div>
                <button type="submit" class="btn btn-primary">Cargar archivo</button>
            </form>

            <div class="text-center">
                <p>Descargar plantilla:</p>
                <a class="btn btn-danger text-white" asp-controller="Plantillas" asp-action="DescargarCSV">
                    <i class="bi bi-arrow-down-circle"></i> Descargar
                </a>
            </div>
        </div>


        <table class="table" style="color: white;">
            <thead>
                <tr class="text-center">

                    <th>@Html.DisplayNameFor(model => model.nombre)</th>
                    <th>@Html.DisplayNameFor(model => model.apellido)</th>
                    <th>@Html.DisplayNameFor(model => model.sueldo)</th>
                    <th>@Html.DisplayNameFor(model => model.tipoContrato)</th>
                    <th>@Html.DisplayNameFor(model => model.fechaIngreso)</th>
                    <th>@Html.DisplayNameFor(model => model.fechaEmision)</th>
                    <th>@Html.DisplayNameFor(model => model.idUser)</th>
                    <th>@Html.DisplayNameFor(model => model.idPais)</th>
                </tr>
            </thead>
            <tbody>

            </tbody>

        </table>



    </div>
</div>